@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prism';

@layer base {
	@font-face {
		font-family: 'Inter';
		font-style:  normal;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/Inter-Regular.woff2") format("woff2"),
			url("/fonts/Inter-Regular.woff") format("woff");
	}

	@font-face {
		font-family: 'Inter';
		font-style:  normal;
		font-weight: 600;
		font-display: swap;
		src: url("/fonts/Inter-Bold.woff2") format("woff2"),
			url("/fonts/Inter-Bold.woff") format("woff");
	}

	@font-face {
		font-family: 'Neue Montreal';
		font-style:  normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2"),
			url("/fonts/NeueMontreal-Regular.woff") format("woff");
	}

	code:not(pre code) {
		@apply bg-gray-100 px-1 border rounded-sm;

		.dark & {
			@apply bg-code border-0;
		}
	}

	h1, h2, h3 {
		@apply font-neue;
	}

	.active a {
		@apply translate-x-[7px];
	}
}
