@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prism';

@layer base {
	code:not(pre code) {
		@apply bg-gray-100 px-1 border rounded-sm;

		.dark & {
			@apply bg-code border-0;
		}
	}

	pre:not([class]) {
		@apply bg-code border rounded block text-gray-200 text-base;
	}

	h1, h2, h3 {
		@apply font-neue relative;
		scroll-margin-top: 6rem;
	}

	.active a {
		@apply translate-x-[7px];
	}
}
